# Linear Regression 
[original: Linear Regression](https://github.com/kyopark2014/ML-Algorithms/blob/main/xgboost/src/ch1-gradient-boosting.ipynb)

In [1]:
import pandas as pd

In [2]:
df_bikes = pd.read_csv('bike_rentals_cleaned.csv')

In [3]:
df_bikes.head()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1.0,0.0,1,0.0,6.0,0.0,2,0.344167,0.363625,0.805833,0.160446,985
1,2,1.0,0.0,1,0.0,0.0,0.0,2,0.363478,0.353739,0.696087,0.248539,801
2,3,1.0,0.0,1,0.0,1.0,1.0,1,0.196364,0.189405,0.437273,0.248309,1349
3,4,1.0,0.0,1,0.0,2.0,1.0,1,0.200000,0.212122,0.590435,0.160296,1562
4,5,1.0,0.0,1,0.0,3.0,1.0,1,0.226957,0.229270,0.436957,0.186900,1600

In [4]:
df_bikes.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.682627,1.395349,0.495423,0.474391,0.627908,0.190411,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465773,0.544894,0.183023,0.162938,0.142074,0.077462,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.522291,0.134950,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.627500,0.180971,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.729791,0.233206,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,8714.000000

In [5]:
df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   season      731 non-null    float64
 2   yr          731 non-null    float64
 3   mnth        731 non-null    int64
 4   holiday     731 non-null    float64
 5   weekday     731 non-null    float64
 6   workingday  731 non-null    float64
 7   weathersit  731 non-null    int64
 8   temp        731 non-null    float64
 9   atemp       731 non-null    float64
 10  hum         731 non-null    float64
 11  windspeed   731 non-null    float64
 12  cnt         731 non-null    int64
dtypes: float64(9), int64(4)
memory usage: 74.4 KB

### 누락한값이 있는지 확인

In [6]:
df_bikes.isna().sum().sum()

0

### Define Feature and Target

In [7]:
X = df_bikes.iloc[:,:-1]
y = df_bikes.iloc[:,-1]

In [8]:
y[:5]

0     985
1     801
2    1349
3    1562
4    1600
Name: cnt, dtype: int64

### Split Train/Test dataset

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

### Linear Regression

In [10]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

### Training

In [11]:
lr.fit(X_train, y_train)

LinearRegression()

### Evaluation

In [12]:
y_pred = lr.predict(X_test)

from sklearn.metrics import mean_squared_error
import numpy as np

# mean_squared_error
mse = mean_squared_error(y_test, y_pred)

# Root Mean Square Deviation; RMSD
rmse = np.sqrt(mse)
print("RMSE: %0.2f" % (rmse))

RMSE: 898.21

## Cross Validation

In [33]:
from sklearn.model_selection import cross_val_score

model = LinearRegression()

scores = cross_val_score(model, X, y, scoring='neg_mean_squared_error', cv=50)

scores

array([ -207551.79192895,  -363974.44694656,  -186872.47285605,
        -151173.79913695,  -277879.43962842,  -140232.53844212,
        -190563.40138924,  -869337.51752289,  -931470.27096372,
        -903054.03816493,  -525624.66256519,  -274733.59882746,
        -804298.73933033, -3036594.76064267,  -875399.17172017,
        -761991.0734655 ,  -324152.42004013,  -789025.0449368 ,
        -230922.0231567 ,  -370760.03485673,  -139237.68569168,
        -607454.68570899,  -243952.40504125,  -331993.1270897 ,
       -1226846.86798582,  -679215.15363231,  -280080.08247078,
        -230276.52255585,  -479005.25892758, -1815779.00258356,
        -859577.08320649,  -899286.42906271,  -599217.73661239,
       -1292357.76060266,  -881716.67713068, -1023391.78697243,
       -2165135.22152148, -2594033.80104313,  -862422.3157181 ,
        -364098.61627429, -1353590.39574053,  -515037.31051855,
       -1826607.87579192, -1085330.58659028, -1104484.0939679 ,
       -2705530.25818033,  -206904.38307534, -2420134.2522014 ,
        -400147.47153849, -2656786.33929586])

In [34]:
rmse = np.sqrt(-scores)

print('RMSE:', np.round(rmse, 2))

print('Avg RMSE: %0.2f' % (rmse.mean()))

RMSE: [ 455.58  603.3   432.29  388.81  527.14  374.48  436.54  932.38  965.13
  950.29  725.    524.15  896.83 1742.58  935.63  872.92  569.34  888.27
  480.54  608.9   373.15  779.39  493.92  576.19 1107.63  824.15  529.23
  479.87  692.1  1347.51  927.13  948.31  774.09 1136.82  939.   1011.63
 1471.44 1610.6   928.67  603.41 1163.44  717.66 1351.52 1041.79 1050.94
 1644.85  454.87 1555.68  632.57 1629.97]
Avg RMSE: 862.15