# XBGoost (exoplanets) - Classification
[ch4-gradient-boosting.ipynb](https://github.com/kyopark2014/ML-Algorithms/blob/main/xgboost/src/ch4-gradient-boosting.ipynb)

In [1]:
!wget -q https://raw.githubusercontent.com/rickiepark/handson-gb/main/Chapter04/exoplanets.csv.zip
!unzip -o exoplanets.csv.zip

Archive:  exoplanets.csv.zip
  inflating: exoplanets.csv

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('exoplanets.csv')
df.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,2,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,...,-78.07,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54
1,2,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,...,-3.28,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93
2,2,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,...,-71.69,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67
3,2,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,...,5.71,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98
4,2,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,...,-594.37,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54

### Shuffle

In [8]:
from sklearn.utils import shuffle
df = shuffle(df, random_state=2)

df.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
4499,1,31.15,28.10,32.57,23.59,20.84,15.01,12.55,7.55,8.52,...,98.64,97.16,130.07,149.57,160.15,-6.10,-6.10,-4.88,11.12,16.68
2968,1,342.70,231.70,143.22,108.55,67.97,81.81,-44.85,-203.53,-222.03,...,-323.38,-253.74,-159.13,-229.77,-178.28,-89.69,-290.72,-208.99,-205.36,-321.83
1260,1,1.13,0.32,3.64,-2.55,-7.26,-3.95,-1.56,-0.46,0.04,...,2.75,2.53,-0.45,-7.41,-2.40,-5.30,-4.25,-0.02,-2.22,-0.60
801,1,-660.37,-588.75,-566.75,-258.63,79.50,230.37,152.25,-124.00,-540.63,...,-1178.37,-1148.13,-735.75,-550.00,-871.37,-1101.00,-1134.75,-1269.87,-1286.87,-1847.50
2399,1,322.49,267.24,218.14,171.59,136.80,90.77,40.24,3.69,-28.57,...,617.70,521.69,421.69,340.91,265.64,210.37,127.82,80.24,24.38,-10.16

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5087 entries, 0 to 5086
Columns: 3198 entries, LABEL to FLUX.3197
dtypes: float64(3197), int64(1)
memory usage: 124.1 MB

In [4]:
df.isnull().sum().sum()

0

In [23]:
df['LABEL'].value_counts()

1    5050
2      37
Name: LABEL, dtype: int64

### Split train/test dataset

In [5]:
X = df.iloc[:,1:]
y = df.iloc[:,0] - 1

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

### XGBoost Classifier

In [22]:
import time
start = time.time()

from xgboost import XGBClassifier
xg_reg = XGBClassifier(n_estimators=100, max_depth=2)

xg_reg.fit(X_train, y_train)

y_pred = xg_reg.predict(X_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred, y_test)
print('Accuracy: ' + str(score))

print('\nElased time: %0.2fs' % (time.time()-start))

/home/ec2-user/anaconda3/envs/amazonei_tensorflow2_p36/lib/python3.6/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[23:33:51] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy: 0.9913522012578616

Elased time: 8.08s

In [24]:
from sklearn.metrics import classification_report
print(classification_report(y_true=y_test, y_pred = y_pred))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      1261
           1       0.00      0.00      0.00        11

    accuracy                           0.99      1272
   macro avg       0.50      0.50      0.50      1272
weighted avg       0.98      0.99      0.99      1272

/home/ec2-user/anaconda3/envs/amazonei_tensorflow2_p36/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/ec2-user/anaconda3/envs/amazonei_tensorflow2_p36/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/ec2-user/anaconda3/envs/amazonei_tensorflow2_p36/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))