# XGBoost - diabetes (Regression)
[ch5-advanced-xgboost-unveiled.ipynb](https://github.com/kyopark2014/ML-Algorithms/blob/main/xgboost/src/ch5-advanced-xgboost-unveiled.ipynb)

In [1]:
import xgboost as xgb
xgb.set_config(verbosity=0)

In [2]:
import pandas as pd
import numpy as np

from sklearn import datasets
X, y = datasets.load_diabetes(return_X_y=True)

In [12]:
pd.DataFrame(y).describe()

                0
count  442.000000
mean   152.133484
std     77.093005
min     25.000000
25%     87.000000
50%    140.500000
75%    211.500000
max    346.000000

In [17]:
pd.DataFrame(y).value_counts()

200.0    6
72.0     6
178.0    5
71.0     5
90.0     5
        ..
199.0    1
201.0    1
208.0    1
209.0    1
25.0     1
Length: 214, dtype: int64

In [13]:
pd.DataFrame(y).head()

       0
0  151.0
1   75.0
2  141.0
3  206.0
4  135.0

In [15]:
pd.DataFrame(X).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       442 non-null    float64
 1   1       442 non-null    float64
 2   2       442 non-null    float64
 3   3       442 non-null    float64
 4   4       442 non-null    float64
 5   5       442 non-null    float64
 6   6       442 non-null    float64
 7   7       442 non-null    float64
 8   8       442 non-null    float64
 9   9       442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

In [16]:
pd.DataFrame(y).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       442 non-null    float64
dtypes: float64(1)
memory usage: 3.6 KB

### cross_val_score

In [5]:
from xgboost import XGBRegressor

xgb = XGBRegressor(booster='gbtree', objective='reg:squarederror', max_depth=6, learning_rate=0.1, n_estimators=100, n_jobs=-1)

In [6]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(xgb, X, y, scoring='neg_mean_squared_error', cv=5)

rmse = np.sqrt(-scores)
print('RMSE:', np.round(rmse, 3))
print('Avg. RMSE: %0.3f' % (rmse.mean()))

RMSE: [63.033 59.689 64.538 63.699 64.661]
Avg. RMSE: 63.124